### REGEX

In [1]:
import re

**re.findall (pattern, string)** 

get a list of all matching patterns.It has no constraints of searching from start or end.

In [3]:
s='AV Analytics Vidhya AV'
s

'AV Analytics Vidhya AV'

In [4]:
re.findall('AV',s)

['AV', 'AV']

**Operators	Description**

.	 Matches with any single character except newline ‘\n’.

?	 match 0 or 1 occurrence of the pattern to its left

+	 1 or more occurrences of the pattern to its left

*	 0 or more occurrences of the pattern to its left

\w	 Matches with a alphanumeric character whereas \W (upper case W) matches non alphanumeric character.

\d	  Matches with digits [0-9] and /D (upper case D) matches with non-digits.

\s	 Matches with a single white space character (space, newline, return, tab, form) and \S (upper case S) matches any non-white space character.

\b	 boundary between word and non-word and /B is opposite of /b

[..]	 Matches any single character in a square bracket and [^..] matches any single character not in square bracket

\	 It is used for special meaning characters like \. to match a period or \+ for plus sign.

^  match the start 

$  end of the string respectively

{n,m}	 Matches at least n and at most m occurrences of preceding expression if we write it as {,m} then it will return at least any minimum occurrence to max m preceding expression.

a| b	 Matches either a or b

( )	Groups regular expressions and returns matched text

\t, \n, \r	 Matches tab, newline, return

**Problem 1: Return the first word of a given string**

In [5]:
s='AV is largest Analytics community of India'
s

'AV is largest Analytics community of India'

In [7]:
re.findall('.',s)
# . matches all characters except a new line here spaces will also be included

['A',
 'V',
 ' ',
 'i',
 's',
 ' ',
 'l',
 'a',
 'r',
 'g',
 'e',
 's',
 't',
 ' ',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 's',
 ' ',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 't',
 'y',
 ' ',
 'o',
 'f',
 ' ',
 'I',
 'n',
 'd',
 'i',
 'a']

In [9]:
#not matching the spaces
#we use \w for alphanumeric character
re.findall('\w',s)
#spaces will not be included in the match

['A',
 'V',
 'i',
 's',
 'l',
 'a',
 'r',
 'g',
 'e',
 's',
 't',
 'A',
 'n',
 'a',
 'l',
 'y',
 't',
 'i',
 'c',
 's',
 'c',
 'o',
 'm',
 'm',
 'u',
 'n',
 'i',
 't',
 'y',
 'o',
 'f',
 'I',
 'n',
 'd',
 'i',
 'a']

In [10]:
#* means 0 or more
#+ means 1 or more
re.findall('\w*',s)
#here we will get words and as well we will get spaces also because 0 or more matches

['AV',
 '',
 'is',
 '',
 'largest',
 '',
 'Analytics',
 '',
 'community',
 '',
 'of',
 '',
 'India',
 '']

In [11]:
re.findall('\w+',s)
#here we will get words only
#once or more

['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']

In [12]:
# ^ means starting 
#we want first word it is of one or more letter
re.findall('^\w+',s)

['AV']

In [13]:
#$ means ending
#we want last word 
re.findall('\w+$',s)

['India']

**Problem 2: Return the first two character of each word**

In [18]:
s

'AV is largest Analytics community of India'

In [15]:
t='AVVVV is largest Analytics community of India'
re.findall('VV',t)
#matches only two matches i.e 1-3 and 3-5
#it finds the match in the string which previous match is excluded

['VV', 'VV']

In [16]:
#consecutive 2 letters without spaces
re.findall('\w\w',t)

['AV',
 'VV',
 'is',
 'la',
 'rg',
 'es',
 'An',
 'al',
 'yt',
 'ic',
 'co',
 'mm',
 'un',
 'it',
 'of',
 'In',
 'di']

In [27]:
# Extract consecutive two characters those available at start of word boundary (using “\b“)
#\b word boundary
re.findall(r'\b\w\w',s)

['AV', 'is', 'la', 'An', 'co', 'of', 'In']

**Problem 3: Return the domain type of given email-ids**

In [28]:
email='abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz'

In [32]:
re.findall('@\w+',email)
#matches@ followed by word once or more

['@gmail', '@test', '@analyticsvidhya', '@rest']

In [33]:
re.findall('@\w+.\w+',email)

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

In [34]:
#extracting only domain name 
#domain name is com in gmail.com
#.in in ac.in

In [35]:
#() to extract the match
re.findall('@\w+.(\w+)',email)

['com', 'in', 'com', 'biz']

**Problem 4: Return date from given string**

In [36]:
date='Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009'

In [37]:
re.findall('\d{2}-\d{2}-\d{4}',date)

['12-05-2007', '11-11-2011', '12-01-2009']

In [38]:
#extracting only years in paranthesis
re.findall('\d{2}-\d{2}-(\d{4})',date)

['2007', '2011', '2009']

**Problem 5: Return all words of a string those starts with vowel**

In [39]:
s='AV is largest Analytics community of India'
s

'AV is largest Analytics community of India'

In [46]:
re.findall('\w+',s)
#extracting words

['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']

In [47]:
re.findall('[aeiouAEIOU]\w*',s)

['AV', 'is', 'argest', 'Analytics', 'ommunity', 'of', 'India']

In [49]:
#we should use word boundary \b
re.findall(r'\b[aeiouAEIOU]\w*',s)

['AV', 'is', 'Analytics', 'of', 'India']

**consonants words**

In [55]:
re.findall(r'\b[^aeiouAEIOU]\w*',s)

[' is', ' largest', ' Analytics', ' community', ' of', ' India']

In [56]:
#space is the major problem 
#not including space
re.findall(r'\b[^aeiouAEIOU ]\w*',s)

['largest', 'community']

**Problem 6: Validate a phone number (phone number must be of 10 digits and starts with 8 or 9)**

In [60]:
li=['9999999999','999999-999','99999x9999']
li

['9999999999', '999999-999', '99999x9999']

In [62]:
for i in li:
    if len(i)==10 and re.match('[98]\d{9}',i):
        print(i)

9999999999